.tri {
    display: block !important;
    font-size:0;
}

div:not(.has__overflow) > .tri {
    overflow:hidden;
}

:not(.flexboxtweener).no-flexbox div:not(.has__overflow) > .tri > .angle, 
:not(.flexboxtweener).no-flexbox div:not(.has__overflow) > .tri > .ang {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

:not(.flexboxtweener).no-flexbox .tri > .angle, 
:not(.flexboxtweener).no-flexbox .tri > .ang {
    display:inline-block;
    vertical-align:top;
    font-size:14px;
}

.ang[class^="le-"]
{
  display: inline-block !important;
    vertical-align:top;
}

.le {
  width: 100% !important;
}

.le-1 {
  width: 4.16666667% !important;
}

.le-2 {
  width: 8.33333333% !important;
}

.le-3 {
  width: 12.5% !important;
}

.le-4 {
  width: 16.66666667% !important;
}

.le-5 {
  width: 20.83333333% !important;
}

.le-6, .le-quarter {
  width: 24% !important;
}

.le-7 {
  width: 29.16666667% !important;
}

.le-8, .le-third {
  width: 32% !important;
}

.le-9 {
  width: 37.5% !important;
}

.le-10 {
  width: 41.66666667% !important;
}

.le-11 {
  width: 45.83333333% !important;
}

.le-12, .le-half, .le-quarter-2 {
  width: 49% !important;
}

.le-13 {
  width: 54.16666667% !important;
}

.le-14 {
  width: 58.33333333% !important;
}

.le-15 {
  width: 62.5% !important;
}

.le-16, .le-third-2 {
  width: 65% !important;
}

.le-17 {
  width: 70.83333333% !important;
}

.le-18, .le-quarter-3 {
  width: 74% !important;
}

.le-19 {
  width: 79.16666667% !important;
}

.le-20 {
  width: 83.33333333% !important;
}

.le-21 {
  width: 87.5% !important;
}

.le-22 {
  width: 91.66666667% !important;
}

.le-23 {
  width: 95.83333333% !important;
}

.le-24, .le-full, .le-half-2 {
  width: 100% !important;
}

.hide-md, .hide-lg {
    display:none !important;
}

@media only screen and (max-width: 48em) {
  .ang[class^="sm-"] {
    display: inline-block !important;
  }

  .sm {
    width: 100% !important;
  }

  .sm-1 {
    width: 4.16666667% !important;
  }

  .sm-2 {
    width: 8.33333333% !important;
  }

  .sm-3 {
    width: 12.5% !important;
  }

  .sm-4 {
    width: 16.66666667% !important;
  }

  .sm-5 {
    width: 20.83333333% !important;
  }

  .sm-6, .sm-quarter {
    width: 24% !important;
  }

  .sm-7 {
    width: 29.16666667% !important;
  }

  .sm-8, .sm-third {
    width: 32% !important;
  }

  .sm-9 {
    width: 37.5% !important;
  }

  .sm-10 {
    width: 41.66666667% !important;
  }

  .sm-11 {
    width: 45.83333333% !important;
  }

  .sm-12, .sm-half {
    width: 49% !important;
  }

  .sm-13 {
    width: 54.16666667% !important;
  }

  .sm-14 {
    width: 58.33333333% !important;
  }

  .sm-15 {
    width: 62.5% !important;
  }

  .sm-16, .sm-third-2 {
    width: 65% !important;
  }

  .sm-17 {
    width: 70.83333333% !important;
  }

  .sm-18, .sm-quarter-3 {
    width: 74% !important;
  }

  .sm-19 {
    width: 79.16666667% !important;
  }

  .sm-20 {
    width: 83.33333333% !important;
  }

  .sm-21 {
    width: 87.5% !important;
  }

  .sm-22 {
    width: 91.66666667% !important;
  }

  .sm-23 {
    width: 95.83333333% !important;
  }

  .sm-24, .sm-full {
    width: 100% !important;
  }
}
@media only screen and (min-width: 48em) {
  .ang[class^="md-"] {
    display: inline-block !important;
  }

  .md {
    width: 100% !important;
  }

  .md-1 {
    width: 4.16666667% !important;
  }

  .md-2 {
    width: 8.33333333% !important;
  }

  .md-3 {
    width: 12.5% !important;
  }

  .md-4 {
    width: 16.66666667% !important;
  }

  .md-5 {
    width: 20.83333333% !important;
  }

  .md-6, .md-quarter {
    width: 24% !important;
  }

  .md-7 {
    width: 29.16666667% !important;
  }

  .md-8, .md-third {
    width: 32% !important;
  }

  .md-9 {
    width: 37.5% !important;
  }

  .md-10 {
    width: 41.66666667% !important;
  }

  .md-11 {
    width: 45.83333333% !important;
  }

  .md-12, .md-half {
    width: 49% !important;
  }

  .md-13 {
    width: 54.16666667% !important;
  }

  .md-14 {
    width: 58.33333333% !important;
  }

  .md-15 {
    width: 62.5% !important;
  }

  .md-16, .md-third-2 {
    width: 65% !important;
  }

  .md-17 {
    width: 70.83333333% !important;
  }

  .md-18, .md-quarter-3 {
    width: 74% !important;
  }

  .md-19 {
    width: 79.16666667% !important;
  }

  .md-20 {
    width: 83.33333333% !important;
  }

  .md-21 {
    width: 87.5% !important;
  }

  .md-22 {
    width: 91.66666667% !important;
  }

  .md-23 {
    width: 95.83333333% !important;
  }

  .md-24, .md-full {
    width: 100% !important;
  }
}
@media only screen and (min-width: 64em) {
  .ang[class^="lg-"] {
    display: inline-block !important;
  }

  .lg {
    width: 100% !important;
  }

  .lg-1 {
    width: 4.16666667% !important;
  }

  .lg-2 {
    width: 8.33333333% !important;
  }

  .lg-3 {
    width: 12.5% !important;
  }

  .lg-4 {
    width: 16.66666667% !important;
  }

  .lg-5 {
    width: 20.83333333% !important;
  }

  .lg-6, .lg-quarter {
    width: 24% !important;
  }

  .lg-7 {
    width: 29.16666667% !important;
  }

  .lg-8, .lg-third {
    width: 32% !important;
  }

  .lg-9 {
    width: 37.5% !important;
  }

  .lg-10 {
    width: 41.66666667% !important;
  }

  .lg-11 {
    width: 45.83333333% !important;
  }

  .lg-12, .lg-half {
    width: 49% !important;
  }

  .lg-13 {
    width: 54.16666667% !important;
  }

  .lg-14 {
    width: 58.33333333% !important;
  }

  .lg-15 {
    width: 62.5% !important;
  }

  .lg-16, .lg-third-2 {
    width: 65% !important;
  }

  .lg-17 {
    width: 70.83333333% !important;
  }

  .lg-18, .lg-quarter-3 {
    width: 74% !important;
  }

  .lg-19 {
    width: 79.16666667% !important;
  }

  .lg-20 {
    width: 83.33333333% !important;
  }

  .lg-21 {
    width: 87.5% !important;
  }

  .lg-22 {
    width: 91.66666667% !important;
  }

  .lg-23 {
    width: 95.83333333% !important;
  }

  .lg-24, .lg-full {
    width: 100% !important;
  }
}
